{% extends 'main_app/base.html' %}
{% block header %}
    <h2>Dostępne produkty</h2>
{% endblock %}
{% block content %}
    <ul>
    {% for product in products %}
        <li>
            <p>{{ product.product_name }}, białko: {{ product.proteins }}g, węglowodany: {{ product.carbohydrates }}g,
                tłuszcze: {{ product.fats }}g, kaloryczność: {{ product.calories }}kcal/100g
                <a href="{% url 'delete-product' product.id %}">Usuń</a>
            <a href="{% url 'edit-product' product.id %}">Edytuj</a></p>
        </li>
    {% endfor %}
    </ul>
    <div><a href="{% url 'add-product' %}">Dodaj produkt</a></div>
{% endblock %}
{% block footer %}
{% endblock %}