{% extends 'main_app/base.html' %}
{% block header %}
    <h2>Dostępne przepisy</h2>
{% endblock %}
{% block content %}
    <ul>
    {% for recipe in recipes %}
        <li>
            <p><a href="{% url 'recipe-details' recipe.id %}">{{ recipe.recipe_name }}</a> {{ recipe.recipe_calories }}
            {% for product in recipe.products.all %}
                {{ product.product_name }}
            {% endfor %}
            <a href="{% url 'edit-recipe' recipe.id %}">Edytuj</a>
            <a href="{% url 'delete-recipe' recipe.id %}">Usuń</a>
            </p>
        </li>
    {% endfor %}
    </ul>
    <div><a href="{% url 'add-recipe' %}">Dodaj przepis</a></div>
{% endblock %}
{% block footer %}
{% endblock %}