{% extends 'main_app/base.html' %}
{% block header %}
    <ul>
        <li>{{ recipe.recipe_name }}:
        {% for product in products %}
        {{ product.product_id }} {{ product.product_quantity }}g
    {% endfor %} {{ recipe.recipe_calories }}kcal</li>
    </ul>
{% endblock %}
{% block content %}
    <h2>Podaj ilość składników</h2>

    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Dodaj">
    </form>

{% endblock %}
{% block footer %}
    <div><a href="{% url 'recipes' %}">Zapisz</a></div>
{% endblock %}