{% extends 'main_app/base.html' %}
{% block header %}
    <h2>Lista zakupów</h2>
{% endblock %}
{% block content %}
    <ul>
    {% for category in shopping_list %}
        <div>{{ category.product.category }}</div>
        {% for product in shopping_list %}
            {% if product.product.category == category.product.category %}
        <li>{{ product.product }}, {{ product.product_quantity }}g, {{ product.product.category }}
{#        <a href="{% url 'edit-plan' plan.id %}">Edytuj</a>#}
{#            <a href="{% url 'delete-shopping-list' product.id %}">Usuń</a></p>#}
        </li>
            {% endif %}
    {% endfor %}
    {% endfor %}
        </ul>
{% endblock %}
{% block footer %}
{% endblock %}