{% extends 'main_app/base.html' %}
{% block header %}
    <h2>Lista zakupów plany</h2>
{% endblock %}
{% block content %}
    <ul>
    {% for plan in plans %}
        <li>
            <a href="{% url 'plan-details' plan.id %}">{{ plan.plan_name }}</a>
            <p>Czas trwania: {{ plan.plan_length }} dni <a href="{% url 'edit-plan' plan.id %}">Edytuj</a>
            <a href="{% url 'delete-plan' plan.id %}">Usuń</a></p>
        </li>
    {% endfor %}
    </ul>
    <div><a href="{% url 'add-plan' %}">Dodaj plan</a></div>
{% endblock %}
{% block footer %}
{% endblock %}