{% extends 'main_app/base.html' %}
{% block header %}
    <h2>Lista zakupów</h2>
{% endblock %}
{% block content %}
    <ul>
    {% for category in categories %}
        <div>{{ category }}</div>
        {% for product in shopping_list %}
            {% if product.product.category.category_name == category %}
        <li>{{ product.product }}, {{ product.product_quantity }}g, {{ product.product.category }}
        </li>
            {% endif %}
    {% endfor %}
    {% endfor %}
        </ul>
{% endblock %}
{% block footer %}
    <div><a href="{% url 'shopping-list-pdf' %}"><button>Zapisz do pdf</button></a></div>
{% endblock %}